.fl{float: left;}
.fr{float: right;}
.color {
  color: #676EBB !important;
}
.normalBtn {
  background-color: #676EBB !important;
  border-color:  #676EBB !important;
}
.el-button--primary {
  background-color: #676EBB !important;
  border-color:  #676EBB !important;
}
.el-input__inner {
  height: 30px !important;
  line-height: 30px !important;
}
.el-input {
  width: 200px !important;
  margin-right: 10px;
}
.el-button--mini {
  padding: 6px 15px !important;
}
.el-table {
  font-size: 14px !important;
  // color:#999;
  .cell {
    line-height: 16px !important;
  }
}
.el-table td, .el-table th {
  padding: 8px 0 !important;
}